mqtt_server=<main mqtt server>
mqtt_server_second=<mqtt server on nvr>
lightapi_server=<local server that runs the light proxy>
ACHTERDEUR_IP=<ip>
ACHTERDEUR_ACCOUNT=<username>
ACHTERDEUR_PASSWORD=<password>
VOORDEUR_IP=<ip>
VOORDEUR_ACCOUNT=<username>
VOORDEUR_PASSWORD=<password>
DOORBELL_TOPIC=<ntfy topic>
VALID_DOORCARDS=<mifare id,mifare id>
BOT_TOKEN=<telegram bot token>
#KEY_MAP='{"telegram_user": ["doorcard_id_2", "doorcard_id_3"], "telegram_user2": ["doorcard_id_1"]}'
BOT_NAME=<telegram bot name>
ALLOWED_USERS=<telegram_user,telegram_user2>
FRIGATE_CAMERAS=<camera1,camera2,camera3>